<%= link_to edit_notes_player_path(player), class: "block w-full text-left p-2 rounded hover:bg-[var(--lw-accent-4)] transition cursor-pointer" do %>
  <span class="truncate"><%= player.notes.presence || "Click to add notes" %></span>
<% end %> 
